@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    table-layout: fixed;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.cabecalho {
    box-sizing: border-box;
    border-bottom: 0.2rem solid gray;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    width: 100%;
}

#fantasma {
    width: 10vw;
    height: 10vh;
}

.logo {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;

    img {
        width: 10vw;
        height: 10vh;
    }

}

.menu {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    gap: 5%;
    align-self: center;
}

li {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
}

.site1 {
    font-family: "Montserrat", serif;
    margin: 5%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    font-size: 1.5rem;
    align-items: center;
    color: rgb(3, 3, 141);
    cursor: default;
    border-top: 0.125rem solid black
}

.site {
    font-family: "Montserrat", serif;
    margin: 5%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    font-size: 1.5rem;
    align-items: center;
    color: rgb(3, 3, 141);
   
}
.site:hover{
    opacity: 50%;
    border-top: 0.125rem solid black
}
.apresentacao {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    width: 100%;
    align-content: left;
    gap: 0.9rem;
    margin-top: 1.25rem;

    img {
        max-width: 70vw;
        height: auto;
    }
}
.apresentacao1{
    align-items: center;
}
.discricaoRanger {
    font-family: "Montserrat", serif;
    font-size: 1.2rem;
    margin: 0.625rem;

}
.discricao{
    display: flex;
    background: white;
    /* padding: 0.5rem; */
    width: 50vw;
    font-size: 1rem;
    font-family: "Montserrat", serif;
    text-align: justify;
}
.rodape {
    box-sizing: border-box;
    background-color: rgb(3, 3, 141);
    display: flex;
    justify-content: space-between;


    width: 100%;

    img {
        max-width: 20vw;
        height: auto;
    }
}

.nome {
    box-sizing: border-box;
    font-size: 1.2rem;
    color: white;
    padding: 1px;
    display: inline-flex;
    align-items: center;

    img {
        max-width: 20vw;
        height: auto;
    }
}

.logo1 {
    display: flex;
    flex-wrap: nowrap;
}
.logo1 :hover{
    opacity: 70%;
}
.apresentacaoLancamento {
    flex: 1;
    display: flex;
    flex-direction: column;


}

.apresentacaoVideo {
    width: 100vw;
    height: 45vh; 
    margin-top: 0.5%;
    /* aspect-ratio: 16/9; */
}

.apresentacaoComparacao {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: baseline;
}

.checkbox {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", serif;
    color: blue;

    .info {
        margin-left: auto;
        align-self: end;
        width: 10%;
    }
}

.checkboxLetter {
    display: flex;
    align-items: center;
    gap: 5%;
}
.checkboxLetter2{
    display: flex;
    flex-direction: column;
}
.infoBox{
    display: none;
    position: absolute;
    background: white;
    border: 1px solid black;
    padding: 10px;
    width: 200px;
}
.infoBox table{
    width: 100%;
}
.infoBox th, .infoBox td{
    border: 1px solid blue;
    padding: 5px;
    text-align: left;
}
.info:hover + .infoBox{
    display: block;
}
.apresentacaoBotao {
    margin-top: 2%;
    margin-left: 45%;
    align-items: center;
    color: white;
    background-color: blue;
    font-size: 1em;
    width: 15%;
    text-align: center;
    border: 0.125rem;
    border-radius: 5rem;
    padding: 1% 2%;
    font-family: "Montserrat", serif;
    cursor: pointer;
}
.apresentacaoBotao:hover{
    background-color: darkblue;
}
#checkbox1 {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#checkbox2 {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#checkbox3 {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.apresentacaoContato{
    flex: 1;
    display: flex;
    margin-left: 30%; 
    margin-top: 3%;
}
.apresentacaoFormulario{
    display: flex;
    flex-direction: column;
    gap: 0.5%;
    width: 20vw;
    font-family: "Montserrat", serif;
    color: rgb(3, 3, 141);
}
.formulario{
    padding: 2%;
    border-radius: 0.5rem;
    background-color: rgb(240, 240, 240);
    font-family: "Montserrat", serif;
}
.formulario1{
    padding: 2%;
    height: 10%;
    border-radius: 0.5rem;
    background-color: rgb(240, 240, 240);
    font-family: "Montserrat", serif;
}
.formularioBotao{
    font-family: "Montserrat", serif; 
    border: 0.125rem;
    border-radius: 5rem;
    padding: 1% 2%;
    cursor: pointer;
    background-color: blue;
    color: white;

}
.formularioBotao:hover{
    background-color: darkblue;
}
@media(max-width:1025px) {
    .apresentacao{
        flex-direction: column;
        align-items: left;
    }
    .logo{
        img {
            width: 18vw;
            height: 10vh;
        }
    }
    .apresentacaoContato{
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        margin-left: 10%;
    }
    .apresentacaoFormulario{
        margin-left: 0%;
        width: 50vw;
    }

}
@media (max-width:768px) {
    .apresentacao {
        margin-top: 30%;
        width: 100%;
        gap: px;

        img {
            width: 100%;
        }
    }

    .site {
        font-size: 0.8rem;
    }

    .site1 {
        font-size: 0.8rem;
    }

    .discricaoRanger {
        font-size: 0.5rem;
    }
    .caracteristicas{
        font-size: 0.8rem;
    }
    .logo1 {
        width: auto;
        img{
            width: 7vw;
        }
    }
    .logoFord{
        width: 10vw;
    }

    .nome {
        font-size: 0.8rem;
    }

    #fantasma {
        width: 0;
        height: 0;
    }

    .menu {
        flex-wrap: wrap;
    }

    .cabecalho {
        justify-content: space-between;
    }

    .logo {
        img {
            width: 15vw;
            height: 7vh;
        }
    }

    .apresentacaoBotao {
        width: 50%;
        height: 50%;

    }

    .apresentacaoLancamento {
        .apresentacaoBotao {
            padding: 1% 1%;
            font-size: 0.9rem;
            margin-left: 37%;
            width: 40%;
            height: 40%;
        }
    }
    .apresentacaoContato{
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        margin-left: 10%;
    }
    .apresentacaoFormulario{
        width: 50vw;
    }
    .discricao{
        font-size: 0.5rem;

    }
}
@media(max-width:420px) {
    .logo{
        img {
            width: 20vw;
            height: 5vh;
        }
    
    }
    .apresentacaoContato{
        flex-direction: column;
    }
    .discricao{

    }
}
@media screen and (orientation:portrait) {
    .apresentacaoContato{
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        margin-left: 10%;
    }
    .apresentacaoFormulario{
        width: 70vw;
    }
}