@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    table-layout: fixed;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.cabecalho {
    box-sizing: border-box;
    border-bottom: 0.2rem solid gray;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    width: 100%;
}

#fantasma {
    width: 10vw;
    height: 10vh;
}

.logo {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;

    img {
        width: 10vw;
        height: 10vh;
    }

}

.menu {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    gap: 5%;
    align-self: center;
}

li {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
}

.site1 {
    font-family: "Montserrat", serif;
    margin: 5%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    font-size: 1.5rem;
    align-items: center;
    color: rgb(3, 3, 141);
    cursor: default;
    border-top: 0.125rem solid black
}

.site {
    font-family: "Montserrat", serif;
    margin: 5%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    font-size: 1.5rem;
    align-items: center;
    color: rgb(3, 3, 141);
    /* padding: 0.4rem; */
    /* background-color: #ffffff;
    text-align: center;
    border-radius: 16px;
    padding: 21.5px 21.5px ; 
    color: rgb(12, 48, 255);
    transition: 1s;
    cursor: pointer;  */
}

.apresentacao {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    align-content: center;
    gap: 0.125rem;
    margin-top: 1.25rem;

    img {
        max-width: 70vw;
        height: auto;
    }
}

.discricaoRanger {
    font-family: "Montserrat", serif;
    font-size: 1.2rem;
    margin: 0.625rem;

}

.rodape {
    box-sizing: border-box;
    background-color: rgb(3, 3, 141);
    display: flex;
    justify-content: space-between;


    width: 100%;

    img {
        max-width: 20vw;
        height: auto;
    }
}

.nome {
    box-sizing: border-box;
    font-size: 1.2rem;
    color: white;
    padding: 1px;
    display: inline-flex;
    align-items: center;

    img {
        max-width: 20vw;
        height: auto;
    }
}

.logo1 {
    display: flex;
    flex-wrap: nowrap;
}

@media (max-width:768px) {
    .apresentacao {
        margin-top: 30%;
        width: 100%;
        gap: px;

        img {
            width: 100%;
        }
    }

    .site {
        font-size: 0.8rem;
    }

    .site1 {
        font-size: 0.8rem;
    }

    .discricaoRanger {
        font-size: 0.8rem;
    }

    .logo1 {
        width: auto;
    }

    .nome {
        font-size: 0.8rem;
    }

    #fantasma {
        width: 0;
        height: 0;
    }

    .menu {
        flex-wrap: wrap;
    }

    .cabecalho {
        justify-content: space-between;
    }

    .logo {
        img {
            width: 15vw;
            height: 7vh;
        }
    }

    .apresentacaoBotao {
        width: 50%;
        height: 50%;

    }

    .apresentacaoLancamento {
        .apresentacaoBotao {
            padding: 1% 1%;
            font-size: 0.9rem;
            margin-left: 37%;
            width: 40%;
            height: 40%;
        }
    }
}

.apresentacaoLancamento {
    flex: 1;
    display: flex;
    flex-direction: column;


}

.apresentacaoVideo {
    width: 100vw;
    height: 45vh;
}

.apresentacaoComparacao {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: baseline;
}

.checkbox {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", serif;
    color: blue;

    .info {
        margin-left: auto;
        align-self: end;
        width: 10%;
    }
}

.checkboxLetter {
    display: flex;
    align-items: center;
    gap: 5%;
}
.checkboxLetter2{
    display: flex;
    flex-direction: column;
}

.apresentacaoBotao {
    margin-top: 2%;
    margin-left: 45%;
    align-items: center;
    color: white;
    background-color: blue;
    font-size: 1em;
    width: 15%;
    text-align: center;
    border: 0.125rem;
    border-radius: 5rem;
    padding: 1% 2%;
    font-family: "Montserrat", serif;
}

#checkbox1 {
    width: 25px;
    height: 25px;
}

#checkbox2 {
    width: 25px;
    height: 25px;
}

#checkbox3 {
    width: 25px;
    height: 25px;
}

@media(max-width:360) {
    .logo{
        width:25%;
    }
    .menu{
        width: 75%;
    }
}
