@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    min-height: 100vh;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rodape {
    background-color: rgb(3, 3, 141);
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    img {
        max-width: 20vw;
        height: auto;
    }
}

.nome {
    font-size: 1rem;
    color: white;
    padding: 1px;
    display: inline-flex;
    align-items: center;
    img {
        max-width: 20vw;
        height: auto;
    }
}

.cabecalho {
    display: flex;
    width: 100%;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    gap: 30px;
    align-self: center;
}

li {
    display: flex;
    flex-wrap: wrap;
}

.site {
    font-family: "Montserrat", serif;
    margin: 3px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    font-size: 1.2rem;
    align-items: center;
    color: rgb(3, 3, 141);
    padding: 1rem;
     /* background-color: #ffffff;
    text-align: center;
    border-radius: 16px;
    padding: 21.5px 21.5px ; 
    color: rgb(12, 48, 255);
    transition: 1s;
    cursor: pointer;  */
}

.site:hover {
    border: 0px solid rgb(3, 3, 141);
    background-color: rgb(3, 3, 141);
    transition: 1s;
    color: white;
}

.apresentacao {
    flex:1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;

    img {
        max-width: 70vw;
        height: auto;
    }
}

p {
    font-family: "Montserrat", serif;
    font-size: 1.2rem;
    margin: 10px;

}

.logo {
    display: flex;
    flex-wrap: wrap;
    img {
        max-width: 20vw;
        height: auto;
    }

}
.site1{
    font-family: "Montserrat", serif;
    margin: 3px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    font-size: 1.2rem;
    align-items: center;
    color: rgb(3, 3, 141);
    cursor: default;

    border-top: 2px solid black
    
}
/* .texto{
    display: flex;
    flex: 1;
    gap: 30px;
} */
/* .nome :hover{
    width: 40px;
    height: 40px;
    opacity: 0.8;
    padding: 5px;
} */